.modelCreationPage{
    position: relative;
    width: calc(100% - var(--navbar-width));
    padding: 0 7%;
}
.goBackBtn{
    position: absolute;
    left: 10px;
    top: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.goBackBtn:hover{
    background-color: var(--bg-200);
}
.goBackBtn > svg{
    transform: rotate(90deg) translateY(2px);
    width: 20px;
    height: auto;
}
.content{
    margin-top: 100px;
}
.modelNameBlock{
    display: flex;
    align-items: center;
}
.modelName{
    font-size: 22px;
    font-weight: 400;
}
.modelTag{
    border: 2px solid var(--bg-300);
    padding: 10px 15px;
    border-radius: 7px;
    color: var(--text-200);
    margin-left: 10px;
}
.modelDescription{
    margin-top: 30px;
}
.modelDescription h3{
    font-weight: 400;
}
.textareaStyle{
    resize: none;
    outline: none;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    width: 60%;
    height: 300px;
    background-color: var(--bg);
    border: 2px solid var(--bg-300);
    border-radius: 15px;
    color: var(--text-200);
    margin-top: 10px;
}
.loadJSON{
    margin-top: 20px;
}
.loadJSON h3{
    font-weight: 400;
}
.json{
    padding: 12px 17px;
    background-color: var(--bg);
    outline: none;
    border: 2px solid var(--bg-300);
    font-size: 16px;
    color: var(--text-200);
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
}
.json:hover{
    background-color: var(--text-200);
    color: var(--bg);
}

.fineTuneBtn{
    background-color: var(--text-200);
    color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 15px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 100px;
    cursor: pointer;
    transition: .2s;
}
.fineTuneBtn:hover{
    background-color: var(--text);
    transform: scale(1.05);
}