:root{
    --navbar-width: 350px;
}
.navbarBlock{
    width: var(--navbar-width);
    background-color: var(--bg-dark);
    height: 100vh;
    position: relative;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.closeNavbar{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: .2s;
}
.closeNavbar:hover{
    background-color: var(--bg-200);
    transform: scale(1.1);
}
.closeNavbar svg{
    width: 20px;
    height: auto;
    transform: translateY(2px);
}
.logo{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding: 20px 0;
    cursor: pointer;
}
.createBtn{
    width: 100%;
    background-color: var(--bg-200);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 20px;
    margin-top: 5px;
}
.createBtn:hover{
    transform: scale(1.05);
}
.createBtn span{
    color: var(--text-200);
    font-size: 19px;
    margin-left: 10px;
    margin-top: 3px;
}

.modelsBlock{
    margin-top: 15px;
}
.modelsBlock h3{
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 10px;
}
.model{
    width: 100%;
    background-color: var(--bg-200);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    transition: .2s;
    margin-top: 10px;
}
.model:hover{
    transform: scale(1.05);
}
.model span{
    margin-left: 5px;
}

.downBlock{
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}
.upgradeBtn{
    display: flex;
    justify-content: center;
    padding: 8px 0;
    background-color: var(--accent);
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}
.upgradeBtn span{
    color: var(--bg);
    font-weight: 500;
    font-size: 18px;
}
.upgradeBtn:hover{
    transform: scale(1.05);
}
.logOutBtn{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: var(--text);
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: .2s;
}
.logOutBtn:hover{
    transform: scale(1.05);
}
.logOutBtn span{
    color: var(--bg);
    font-weight: 500;
    font-size: 18px;
}

.userDataBlock{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 7px 15px;
    margin-top: 10px;
    border-radius: 7px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .2s;
}
.userDataBlock:hover{
    background-color: var(--bg-200);
}
.userData{
    display: flex;
    flex-direction: column;
}
.userDataName{

}
.userDataAlias{
    color: var(--text-200);
}
.white{
    background-color: var(--text);
}
.black{
    background-color: var(--bg-200);
    margin-bottom: 10px;
}
.black span{
    color: var(--text);
}