.welcomePageBlock{
    width: calc( 100% - var(--navbar-width));
    padding: 0 6%;
}
.topBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.userData{
    display: flex;
    flex-direction: column;
}
.userData p{
    color: var(--text-200);
    font-size: 20px;
}
.userBlock{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.userBlock span{
    font-size: 20px;
    margin-left: 10px;
}
.searchBlock{
    position: relative;
    transition: .2s;
}
.searchBlock input{
    background-color: var(--bg-200);
    border: none;
    outline: none;
    padding: 13px 0 13px 40px;
    width: 350px;
    font-size: 17px;
    border-radius: 100px;
}
.searchBlock:focus-within {
    transform: scale(1.02);
}

.searchBlock svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.descriptionBlock{
    width: 100%;
    background-color: var(--bg-200);
    height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descriptionBlock h1{
    font-size: 35px;
}