:root{
  --bg: #18181B;
  --bg-dark: #131316;
  --bg-200: #25262A;
  --text: #D9D9D9;
  --text-200: #86868F;
  --accent: #FFD700;
  --bg-300: #27272B;
}
*{
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  width: 100%;
  position: relative;
  display: flex;
}
body{
  background-color: var(--bg);
}
a{
  text-decoration: none;
  text-underline: none;
}